</div>
<div class="error">
    <div class="error-code m-b-10 m-t-20">500 <i class="fa fa-warning"></i></div>
    <h3 class="font-bold">Internal server error</h3>

    The server encountered an internal error and was unable to complete your request.<br> Please contact administrator
    <div>
        <a class=" login-detail-panel-button btn" href="/">
            <i class="fa fa-arrow-left"></i>
            Go back to Homepage
        </a>
    </div>
</div>
</div>