<div class="container">
        <h1 class="text-center"><%=title%></h1>
        <hr>
          <div class="row">
            <div class="col-sm-8">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.4929785555746!2d-94.8882079850689!3d40.353592167401686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87eac5434e04a923%3A0x9df963f8de1bee73!2sB.+D.+Owens+Library!5e0!3m2!1sen!2sus!4v1543782994879" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        
            <div class="col-sm-4" id="contact2">
                <h3>Student Success Center</h3>
                <hr align="left" width="50%">
                <h4 class="pt-2">University website</h4>
                <i class="fas fa-globe" style="color:#000"></i> <a href="https://www.nwmissouri.edu/tdc/" target="_blank">https://www.nwmissouri.edu/tdc/</a><br>
                <br/>
                <h4 class="pt-2">Contact info</h4>
                <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> 660.562.1726 </a><br>
                <i class="fab fa-phone" style="color:#000"></i><a href="tel:+"> 660.562.1695 </a><br>
                <br/>
                <h4 class="pt-2">Email</h4>
                <i class="fa fa-envelope" style="color:#000"></i> <a href="mailto:studentsuccess@nwmissouri.edu">studentsuccess@nwmissouri.edu</a><br>
              </div>
          </div>
        </div>
        