<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

<body>
    <div class="container">

<!-- starte -->
<div class="mt-5" style="margin-top: 20px; border: 2px solid black">
<table class="table table-striped">
        <thead>
          <tr class="table-dark">
                <th scope="col"  >Username</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
                <% for (var i = 0; i < data.length;i++ ) { %>
                <tr>
                        <td> <%= data[i].username %></td>
                        <td> <%= data[i].firstName %></td>
                        <td> <%= data[i].lastName %></td>
                        <td> <%= data[i].Role %></td>
                        <td>         <button type="submit" class="btn btn-primary">Edit</button></td>
                        <td>         <button type="submit" class="btn btn-danger">Delete</button></td>
                    </tr>
                <% } %>
        </tbody>
      </table>
<!-- ended -->
</div>

</div>
</body>
<% include footer %>
