<%if(typeof username!= 'undefined' && username!=null){%>
<div id="reportsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <center>Select report category</center>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5">
                        <a href="/report/meetings" style="color:black" class="btn btn-block btn-default"><i class="far fa-calendar-alt fa-7x"></i>
                            <h4>Appointments report</h4>
                        </a><br>
                        <!-- <button class="btn btn-block btn-default"><a href="/report/appointments" style="color:black"><i class="far fa-calendar-alt fa-7x" ></i></a><br><h3>Appointments</h3></button> -->
                    </div>
                    <div class="col-md-5">
                        <a href="/report/notes" style="color:black" class="btn btn-block btn-default"><i class="fas fa-edit fa-7x"></i>
                            <h4>Notes report</h4>
                        </a><br>
                        <!-- <button class="btn btn-block btn-default"><a href="/report/flag" style="color:black"><i class="fas fa-flag fa-7x"></i></a><br><h3>Flags</h3></button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-5">
                        <a href="/report/flag/faculty" style="color:black" class="btn btn-block btn-default"><i class="fas fa-flag fa-7x"></i>
                            <h4>Faculty Flags report</h4>
                        </a><br>
                        <!-- <button class="btn btn-block btn-default"><a href="/report/flag" style="color:black"><i class="fas fa-flag fa-7x"></i></a><br><h3>Flags</h3></button> -->
                    </div>
                    <div class="col-md-5">
                        <a href="/report/flag/student" style="color:black" class="btn btn-block btn-default"><i class="fas fa-user-graduate fa-7x"></i>
                            <h4>Student Flags report</h4>
                        </a><br>
                        <!-- <button class="btn btn-block btn-default"><a href="/report/notes" style="color:black"><i class="far fa-edit fa-7x"></i></a><br><h3>Notes</h3></button> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-offset-8 col-md-4" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>
<%}%>
<footer class="footer" style="margin-bottom:0%;margin-left:46%;position:fixed;bottom: 0;">&copy;NWMSU</footer>