<div class="col-md-offset-4 col-md-4" style="margin-top:125px">
    <h3><%=message%></h3>
        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Forgot Password</h3>
                            </div>
                            <div class="panel-body">
                                <form method = "post" action ="/forgotpswd" role="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="E-mail" name="username" type="text" autofocus="">
                                        </div>
                                        <!-- <div class="checkbox">
                                            <label>
                                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                            </label>
                                        </div> -->
                                        <!-- Change this to a button or input when using this as a form -->
                                        <button type ="submit" class="btn btn-sm btn-success">Submit</button>
                                    </form>
                                  </div>
                                    
                                    </fieldset>
                                </form>
                            </div>
                        </div>
        </div>