</div>
</div>
<div class="row">
<div class="col-md-offset-6 col-md-6" style="border:solid 1px; border-radius: 2%;padding-bottom: 30px;">
        <h2 align="right"style="padding-right:20px;">Welcome User</h2>
        <a class="weatherwidget-io" href="https://forecast7.com/en/40d35n94d87/maryville/" data-label_1="MARYVILLE" data-label_2="WEATHER" data-theme="pure" >MARYVILLE WEATHER</a>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
</div>
</div>