<div class="row navbar-padding-top">
    <div class="container bootstrap snippet">

        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home"></div>
                <form class="form" id="updatepassword" action="/updatepswd/update_password" method="post" id="passwordForm">
                 
                     <div class="form-group">
                        <div class="row">
                        <div class="col-xs-6">
                            <label for="password">
                                <h4>Password</h4>
                            </label>
                            <input type="password" class="form-control" name="password" id="password"
                                data-parsley-trigger="change" placeholder="password" title="enter your password."
                                required>
        
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <div class="col-xs-6">
                            <label for="password2">
                                <h4>Confirm Password</h4>
                            </label>
                            <input type="password" class="form-control" name="password2" id="password2"
                                data-parsley-trigger="change" data-parsley-equalto="#password"
                                data-parsley-equalto-message="password and confirm password should be same" placeholder="Confirm password"
                                title="enter your password2." required>
                          
                         </div>
                         </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button type=submit class="btn btn-lg btn-success" name="passwordupdate"><i></i>Save</button>
                            <button class="btn btn-lg" type="reset"><i class="fas fa-redo"></i> Reset</button>
                        </div>
                    </div>
                </form>

                <hr>

            </div>
            <script>
                $('#updatepassword').parsley().on('field:validated', function () {
                    var ok = $('.parsley-error').length === 0;
                    $('.bs-callout-info').toggleClass('hidden', !ok);
                    $('.bs-callout-warning').toggleClass('hidden', ok);
                }).on('form:submit', function () {
                    return true; 
                });
            </script>
          