<div class="row navbar-padding-top">
    <div class="container bootstrap snippet">
        <div class="row" style="text-align:right">
        </div>

        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home"></div>
                <form class="form" id="profileupdate" action="/profile/udpate_profile" method="post" id="registrationForm">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name">
                                <h4>First name</h4>
                            </label>
                            <input type="text" class="form-control" name="first_name" id="first_name" value="<%= user.firstName %>" placeholder="first name"
                                title="enter your first name if any." required>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="last_name">
                                <h4>Last name</h4>
                            </label>
                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" value=<%= user.lastName %>
                                title="enter your last name if any." required>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="col-xs-6">
                            <label for="mobile">
                                <h4>Mobile</h4>
                            </label>
                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number"
                                title="enter your mobile number if any." data-parsley-trigger="change"
                                data-parsley-length="[10,10]" data-parsley-length-message="Phone number length should be equal to 10 digits"
                                data-parsley-pattern="^[0-9]*$" data-parsley-pattern-message="only numbers are allowed"
                                required>
                        </div>
                    </div> -->
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="email">
                                <h4>Email</h4>
                            </label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                                title="enter your email." value=<%= user.email %> >
                        </div>
                    <div class="clearfix"></div>
                    </div>
                    <!-- <div class="form-group">

                        <div class="col-xs-6">
                            <label for="password">
                                <h4>Password</h4>
                            </label>
                            <input type="password" class="form-control" name="password" id="password"
                                data-parsley-trigger="change" placeholder="password" title="enter your password."
                                required>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="password2">
                                <h4>Verify</h4>
                            </label>
                            <input type="password" class="form-control" name="password2" id="password2"
                                data-parsley-trigger="change" data-parsley-equalto="#password"
                                data-parsley-equalto-message="password and confirm password should be same" placeholder="password2"
                                title="enter your password2." required>
                        </div>
                    </div> -->
                    <div class="clearfix"></div>    
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button type=submit class="btn btn-lg btn-success" name="profile"><i></i>Save</button>
                            <button class="btn btn-lg" type="reset"><i class="fas fa-redo"></i> Reset</button>
                        </div>
                    </div>
                </form>

                <hr>

            </div>
            <script>
                $('#profileupdate').parsley().on('field:validated', function () {
                    var ok = $('.parsley-error').length === 0;
                    $('.bs-callout-info').toggleClass('hidden', !ok);
                    $('.bs-callout-warning').toggleClass('hidden', ok);
                }).on('form:submit', function () {
                    return true; // Don't submit form for this demo
                });
            </script>