</div>
</div>
<div class="row">
    <div class="jumbotron" style="padding-top:10px;padding-bottom:10px;">
        <h2 style="margin-left:42%">Generate report</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="row">
          <div class="col-md-6">
       <button class="btn btn-block btn-default"><a href="/report/activity" style="color:black"><i class="fas fa-user fa-7x"></i></a><br><h3>Activity</h3></button>
      </div>
      <div class="col-md-6">
       <button class="btn btn-block btn-default"><a href="/report/appointments" style="color:black"><i class="far fa-calendar-alt fa-7x" ></i></a><br><h3>Appointments</h3></button>
       </div>
      </div>
      <br>
       <div class="row">
          <div class="col-md-6">
       <button class="btn btn-block btn-default"><a href="/report/flag" style="color:black"><i class="fas fa-flag fa-7x"></i></a><br><h3>Flags</h3></button>
      </div>
      <div class="col-md-6">
       <button class="btn btn-block btn-default"><a href="/report/notes" style="color:black"><i class="far fa-edit fa-7x"></i></a><br><h3>Notes</h3></button>
       </div>
      </div>
      <br>
          </div>
</div>
</div>
