</div>
</div>
<div class="row" style="margin-top:30px">
    <div class="col-md-offset-1 col-md-6">
            <div class="jumbotron" style="margin-top:0px;padding-top:10px;padding-bottom:10px;">
                    <h2 style="margin-left:35%">Generate report</h2>
                </div>
        <div class="row">
            <div class="col-md-6">
                <a href="/report/activity" style="color:black" class="btn btn-block btn-default"><i class="fas fa-user fa-7x"></i>
                    <h4>User report</h4>
                </a><br>
                <!-- <button class="btn btn-block btn-default"><a href="/report/activity" style="color:black"><i class="fas fa-user fa-7x"></i></a><br><h3>Activity</h3></button> -->
            </div>
            <div class="col-md-6">
                <a href="/report/meetings" style="color:black" class="btn btn-block btn-default"><i class="far fa-calendar-alt fa-7x"></i>
                    <h4>Meetings report</h4>
                </a><br>
                <!-- <button class="btn btn-block btn-default"><a href="/report/appointments" style="color:black"><i class="far fa-calendar-alt fa-7x" ></i></a><br><h3>Appointments</h3></button> -->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <a href="/report/flag" style="color:black" class="btn btn-block btn-default"><i class="fas fa-flag fa-7x"></i>
                    <h4>Flags report</h4>
                </a><br>
                <!-- <button class="btn btn-block btn-default"><a href="/report/flag" style="color:black"><i class="fas fa-flag fa-7x"></i></a><br><h3>Flags</h3></button> -->
            </div>
            <div class="col-md-6">
                <a href="/report/notes" style="color:black" class="btn btn-block btn-default"><i class="fas fa-edit fa-7x"></i>
                    <h4>Notes report</h4>
                </a><br>
                <!-- <button class="btn btn-block btn-default"><a href="/report/notes" style="color:black"><i class="far fa-edit fa-7x"></i></a><br><h3>Notes</h3></button> -->
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4" style="margin-left:50px;position: relative;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);"
        onload="getStatus()">
        <!-- <div class="col-md-offset-6 col-md-6" style="position: relative;
  -webkit-box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);"> -->
        <h2 align="center">Welcome
            <%if(typeof username!= 'undefined' && username!=null){%>
            <%=firstName%>
            <%}else{%>
            User
            <%}%>
        </h2>
        <hr />
        <div class="col-md-12" style="padding-bottom:10px">
            <a class="weatherwidget-io" href="https://forecast7.com/en/40d35n94d87/maryville/" data-label_1="MARYVILLE"
                data-label_2="WEATHER" data-theme="pure">MARYVILLE WEATHER</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
            <hr>
            <h5>
                <strong>Report details:</strong><br>
                <h6>
                    <span style="padding-left:30px"></span>Recent updated report status: <span id="lastUpdatedStatus"></span><br>
                    <span style="padding-left:30px"></span>Report last updated on: <span id="lastUpdatedTime"></span><br>
                </h6>
            </h5>
        </div>
    </div>
</div>
</div>