<html>
<h1>Welcome</h1>
<% if(message=="Table not found"){ %>
    <div class="alert alert-danger" role="alert">
        <strong>Whoo.. The table your are searching for is not found!!</strong>
    </div>
<% }%>
<% if(typeof status != 'undefined'&& (message =="success"||message=="Table not found")){ %>

<% 
    } 
%>
<h4>
        <strong>Recent excel import details:</strong><br>
        <h5>
            <span style="padding-left:30px"></span>Last upload status: <span id="lastUpdatedStatus"></span><br>
            <span style="padding-left:30px"></span>Last uploaded on: <span id="lastUpdatedTime"></span><br>
        </h5>
</h4>
<label>Select from imported files</label>:
<select id="tableSelect">
    <option value="0">Select table:</option>
    <% tables.forEach(table => { %>
    <option value="<%= table.table_name %>">
        <%= table.table_name %>
    </option>
    <% 
    }); 
%>
</select>
<script type="text/javascript">
    $(document).ready(function () {
        $("#data").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<div class="col-md-12" style="overflow-x: scroll;">
    <% if(typeof rows == 'undefined'&& message == "dataNotFound"){ %>
    <center>
        <h2>No records in table.</h2>
    </center>
    <% } %>
    <table class="table table-bordered table-striped" id="data">
        <thead>
            <tr>
                <% if(typeof rows != 'undefined' && message == "success"){
        var head = Object.keys(rows[0])
        head.forEach(function(headValue){ %>
                <th>
                    <%= headValue %>
                </th>
                <% }) %>
            </tr>
        </thead>
        <tbody>
            <% rows.forEach(element => {%>
            <tr>
                <% head.forEach(function(headValue){  %>

                <td>
                    <%= element[headValue] %>
                </td>

                <%   }) %>
            </tr>
            <%
    }); 
   }%>
        </tbody>

    </table>
</div>

</html>